.DS_Store
Thumbs.db
*.log

.idea/
.vscode/

# Frontend

node_modules/
.next/
out/
dist/
build/

*.tsbuildinfo
next-env.d.ts


frontend/.env*
frontend/.vercel/

# package managers
.pnp
.pnp.*
.yarn/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Backend (Python)

__pycache__/
*.py[cod]
*.pyo

venv/
.venv/
env/
ENV/
env*

.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
coverage.xml

*.egg-info/
dist/
build/

backend/.env*

# Docker

docker-compose.override.yml

docker-data/
docker-volumes/

.docker.env
.env.docker